<div class="card">
  <span class="isvisible" ng-class="{'icon-eye-open' : item.alt > 15, 'icon-eye-close' : item.alt <= 15}"></span>
  <h2 class="title">{{ item.names[0] }}</h2>
  <p class="names" ng-show="item.names.length > 1">
    <strong><span ng-repeat="name in item.names" ng-show="!$first">{{ name }}{{ !$last && ', ' || ''}}</span></strong>
  </p>
  <div class='separator'></div>
  <p><strong>{{item.type}} in constellation {{item.constelation}}</strong></p>
  <p>Right ascension  {{ item.RAh }}<sup>h</sup> {{ item.RAm | number }}<sup>m</sup></p>
  <p>Declination  {{ item.DEd }}° {{ item.DEm | number }}<sup>'</sup></p>
  <p>Apparent magnitude {{item.magnitude | number}}</p>
  <p ng-show="item.size_max && item.size_min">Apparent dimensions {{item.size_max | number}}"x{{item.size_min | number}}"</p>
  <p ng-show="item.number_of_stars">Number of stars: {{item.number_of_stars}}</p>
  <div class="coordinates clearfix">
    <span class="az">{{ item.az | degrees:'hours'}}</span>
    <span class="alt">{{ item.alt | degrees}}</span>
  </div>
</div>