<div class="card">
  <span class="isvisible icon-eye-open"></span>
  <h2 class="title">{{ item.names[0] }}</h2>
  <p class="names"><span ng-repeat="name in item.names" ng-show="!$first">{{ name }}{{ !$last && ', ' || ''}}</span></p>
  <p class="description">{{item.type}} in constellation {{item.constelation}}</p>
  <div class="coordinates clearfix">
    <span class="az">{{ item.RAh }}<sup>h</sup> {{ item.RAm }}<sup>m</sup></span>
    <span class="alt">{{ item.DEd }}° {{ item.DEm }}<sup>'</sup></span>
  </div>
  <div class="details">
    <p>Right ascension  {{ item.RAh }}<sup>h</sup> {{ item.RAm }}<sup>m</sup></p>
    <p>Declination  {{ item.DEd }}° {{ item.DEm }}<sup>'</sup></p>
    <p>Apparent magnitude (V)  {{item.magnitude}}</p>
    <p>Apparent dimensions (V)  {{item.size_max}}"x{{item.size_min}}"</p>
    <p ng-show="item.number_of_stars.length">Number of stars: {{item.number_of_stars}}</p>
  </div>
</div>