// Core variables and mixins
@import "compass_twitter_bootstrap/variables";
@import "compass_twitter_bootstrap/mixins";
@import "compass_twitter_bootstrap/reset";
@import "compass_twitter_bootstrap/scaffolding";
@import "compass_twitter_bootstrap/forms";
@import "compass_twitter_bootstrap/buttons";
@import "compass_twitter_bootstrap/button-groups";
@import "compass_twitter_bootstrap/alerts";

.clearfix {
  @include ctb-clearfix();
}

.hide-text {
  @include ctb-hide-text();
}

.input-block-level {
  @include ctb-input-block-level();
}

* { @include ctb-box-sizing(border-box); line-height:1.2;}

body{
  text-align:center; background:#eee; font-family: Helvetica Neue, Helvetica, sans-serif; color:#333; font-weight:100; font-size:16px;
}

h1, h2, h3, h4, h5, h6{ line-height:1.2; font-weight:100;}

/*==============VARIABLES===============*/
$gridMinWidth : 300px;
$gridSeparator : 20px;
$mainColor: rgb(65,180,255);
$gray:#ccc;
$loaderSize:30px;
$iconSize:20px;
/*==============HEADER============*/
#header{
  border-top:3px solid $mainColor; padding:3px 3% 0; margin:0 0 15px;
  #logo, #search{ color:$mainColor; margin:0 0 7px; line-height:45px; text-decoration: none; font-size:1.75em;}
  #logo{
    float:left; 
    @media only screen and (max-width: 2 * $gridMinWidth) {
      float:none;
    } 
  }
  #search{
    float:right; margin:0; position:relative; 
    input{
      @include ctb-box-sizing(border-box); width:100px; height:auto; font-weight:100; margin:0; padding-right: $iconSize; @include ctb-transition(.5s width); 
      &:focus{
        width:206px;
      };
    }
    &:after{
      font-family: FontAwesome; color:$gray; font-weight: 100; font-style: normal;
      content: "\f002";
      position:absolute; top:14px; right:4px;
      width:$iconSize; height:$iconSize; font-size: $iconSize; line-height: $iconSize;
    }
    @media only screen and (max-width: 2 * $gridMinWidth) {
      margin:0 0 12px; float:none; display:block; clear:both;
      input{
        float:none; width:100%;
        &:focus{
          width:100%;
        }
      }
    }
  }
}
/*==============MENU==============*/
nav{ 
  display:block; margin:0 -3%; clear:both;
  ul{ @extend .clearfix; 
    display:block;  margin:0; padding:0 3%; background:#fff; border-bottom: 2px solid $mainColor;
    li{
      display:inline-block; float:left; position:relative;
      a{
        display: inline-block; padding:7px 15px; color: #333; text-decoration: none; cursor:pointer;
      }
      &:hover, &.active{
        a{
          text-decoration: none;
        }
        &:after{
          content:''; display:inline-block; position:absolute; bottom:0; left:0; width:100%; height:2px; background: $mainColor; z-index: 1; 
        }
      }
    }
  }
}
/*==============FOOTER============*/
#footer{
  min-height:50px;
  text-align: left;
  margin:50px 0 0 0;
  padding: 3px 3% 0;
}
/*==============MAIN==============*/
#main{ padding:0 3%; text-align:left;
  .card{
    margin: 0; padding:15px 15px 45px; background:#fff; height:203px; overflow:hidden; @include ctb-border-radius(3px); @include ctb-box-shadow(0 0 3px $gray); position:relative;
    .isvisible{
      position:absolute; right:5px; top:3px; width:30px; height:30px; text-align:center; line-height:30px; font-size:25px; color:$gray;
    }   
    .title{
      color:$mainColor; font-size:1.5em; margin:0; padding:0; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
    }
    .names{
      margin:0 0 20px 0;
    }
    p{
      color:#666; margin:0; padding:0; 
    }
    strong{
      color:#333; font-weight: 300;
    }
    .separator{ margin:10px 0;}
    .coordinates{ position: absolute; bottom:0; left:0; right:0; padding:12px 0 15px;
      .alt, .az{
        width:50%; text-align:center; display:inline-block; color:#fff; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
        strong{ display:inline-block; width:50px; font-weight:100;}
      }
      .az{ float:left; color:rgb(255, 120, 45);}
      .alt{ float:right; color:$mainColor;}
    }
    @media only screen and (max-width: $gridMinWidth * 2) {
      height:auto;
    }
  }
}

/*==============COMMON==============*/
.noResults{
  text-align:center;margin:30px auto;font-style:italic;
}
.grid-5{
  width:20%; float:left; display:inline-block; padding:0 $gridSeparator $gridSeparator 0; 
  &:nth-child(5n){padding-right:0;}
  @media only screen and (max-width: $gridMinWidth * 5) {
    width:25%;
    &:nth-child(5n){padding-right:$gridSeparator;}
    &:nth-child(4n){padding-right:0;}
  }
  @media only screen and (max-width: $gridMinWidth * 4) {
    width:33.33%;
    &:nth-child(4n){padding-right:$gridSeparator;}
    &:nth-child(3n){padding-right:0;}
  }
  @media only screen and (max-width: $gridMinWidth * 3) {
    width:50%;
    &:nth-child(3n){padding-right:$gridSeparator;}
    &:nth-child(2n){padding-right:0;}
  }
  @media only screen and (max-width: $gridMinWidth * 2) {
    padding-right:0; float:none; width:100%;
    &:nth-child(n){padding-right:0;}
  }
}

.loadmore{
  text-align: center;
  a{ display:inline-block; position:relative; top:0; left:0; margin:0 auto; @include ctb-border-radius(3px); @include ctb-box-shadow(0 0 5px $gray); padding:10px 15px; background:$mainColor; cursor:pointer; text-align:center; color:#fff; text-decoration: none;}
  .loader{ display:none; opacity: 0.18; width:$loaderSize; height:$loaderSize; background:url("../images/loader.gif") center center no-repeat; background-size:$loaderSize $loaderSize;}
  &.isloading{
    .loader{display:inline-block;  }
    a{ display:none;}
  }
}

.clear{
  clear:both; display:block;
}

.cards{
  .ng-move,
  .ng-enter,
  .ng-leave {
    @include ctb-transition(all linear 0.5s);
    // enable hardware accelerated animations
    @include ctb-translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  }
 
  .ng-leave.ng-leave-active,
  .ng-move,
  .ng-enter {
    opacity: 0; 
    @include ctb-translate(0, 40px);
  }
 
  .ng-leave,
  .ng-move.ng-move-active,
  .ng-enter.ng-enter-active {
    opacity: 1; 
    @include ctb-translate(0, 0);
  }

  .ng-enter-stagger,
  .ng-leave-stagger,
  .ng-move-stagger {
    /* 50ms between each item being animated after the other */
    @include ctb-transition-delay(50ms);

    /* this is required here to prevent any CSS inheritance issues */
    @include ctb-transition-duration(0);
  }
}

.illumination{
  text-align: center;
}

.phase{
  position:relative;
  display: inline-block;
  width:110px;
  height:110px;
}