@import "compass_twitter_bootstrap_awesome";

* { @include ctb-box-sizing(border-box); }

body{
  text-align:center; background:#eee; font-family: 'Muli', sans-serif; color:#333; font-weight:100; font-size:16px;
}

/*==============VARIABLES===============*/
$gridMinWidth : 300px;
$gridSeparator : 10px;
$mainColor: rgb(65,180,255);
/*==============HEADER============*/
#header{
  background:$mainColor; padding:7px 3%;
  #logo{
    color:#fff; font-weight:900; text-decoration: none; float:left; font-size:1.5em; letter-spacing: -2px;
  }
  #search{
    color:#fff; text-decoration: none; float:right; font-size:1.5em; 
  }
}
/*==============MAIN==============*/
#main{ padding:3%; text-align:left;
  .search-container{ position:relative; margin:0; 
    #search{
      @include ctb-box-sizing(border-box); padding:8px 35px 8px 10px; width:100%; height:36px; margin:0; 
    }
    &:before {
        position:absolute; top:3px; right:7px; display: inline-block; width:30px; height:30px; line-height:30px; font-size: 23px; color:#ccc;
        font-family: "FontAwesome"; content: "\f002";
    }
  }
  .card{
    padding:15px; background:#fff; overflow:hidden; height:202px; @include ctb-border-radius(3px); @include ctb-box-shadow(1px 1px 5px #666); position:relative;
    .isvisible{
      position:absolute; right:5px; top:3px; display:inline-block; width:30px; height:30px; text-align:center; line-height:30px; font-size:25px; color:#ccc;
    }   
    .title{
      color:$mainColor; font-weight: bold; margin:0;text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
    }
    .names{
      font-weight:bold;text-overflow: ellipsis; white-space: nowrap; overflow: hidden; height:20px;
    }
    .description{
      color:#666; margin:20px 0 0 0; height:44px; overflow:hidden;
    }
    .coordinates{
      margin:20px 0;
      .alt, .az{
        width:50%; text-align:center; display:inline-block; color:#fff; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
        strong{ display:inline-block; width:50px; font-weight:100;}
      }
      .az{ float:left; color:rgb(255, 120, 45);}
      .alt{ float:right; color:$mainColor;}
    }
    .details{
      display: none;
    }
    p{
      margin:0;
    }
  }
}

/*==============COMMON==============*/
.grid-5{
  width:20%; float:left; display:inline-block; padding:0 $gridSeparator $gridSeparator 0; 
  &:nth-child(5n){padding-right:0;}
  @media only screen and (max-width: $gridMinWidth * 5) {
    width:25%;
    &:nth-child(5n){padding-right:$gridSeparator;}
    &:nth-child(4n){padding-right:0;}
  }
  @media only screen and (max-width: $gridMinWidth * 4) {
    width:33.33%;
    &:nth-child(4n){padding-right:$gridSeparator;}
    &:nth-child(3n){padding-right:0;}
  }
  @media only screen and (max-width: $gridMinWidth * 3) {
    width:50%;
    &:nth-child(3n){padding-right:$gridSeparator;}
    &:nth-child(2n){padding-right:0;}
  }
  @media only screen and (max-width: $gridMinWidth * 2) {
    padding-right:0; float:none; width:100%;
    &:nth-child(3n){padding-right:0;}
  }
}

.isloading{
  height:50px; @include opacity(.18); background:url("../images/loader.gif") center center no-repeat; clear:both;
}

.animate-leave{
  @include transition-delay(0 !important);
}

.animate-enter
{ 
  @include ctb-transition(0.3s cubic-bezier(0.250, 0.250, 0.750, 0.750) all);
  position: relative;
  // enable hardware accelerated animations
  @include ctb-translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
} 

.animate-enter { 
  opacity: 0; top:40px; 
}

.animate-enter.animate-enter-active {
  opacity: 1; top:0; 
}