@import "compass_twitter_bootstrap_awesome";

* { @include ctb-box-sizing(border-box); }

body{
  text-align:center; background:#eee; font-family: 'Muli', sans-serif; color:#333; font-weight:100;
}

/*==============VARIABLES===============*/
$gridMinWidth : 300px;
$gridSeparator : 10px;

/*==============MAIN==============*/
#main{ padding:3%; text-align:left;
  .card{
    padding:15px; background:#fff; overflow:hidden; height:202px; @include ctb-border-radius(3px); @include ctb-box-shadow(1px 1px 5px #666); position:relative;
    .isvisible{
      position:absolute; right:10px; top:8px; display:inline-block; width:30px; height:30px; text-align:center; line-height:30px; font-size:25px; color:#ccc;
    }   
    .title{
      color:rgb(65,180,255); font-weight: bold; margin:0;text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
    }
    .names{
      font-weight:bold;text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
    }
    .description{
      color:#666; margin:10px 0 0 0; height:44px; overflow:hidden;
    }
    .coordinates{
      margin:20px 0;
      .alt, .az{
        width:50%; text-align:center; display:inline-block; color:#fff; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;// padding:5px 10px; @include ctb-border-radius(20px); font-size:80%;text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
        strong{ display:inline-block; width:50px; font-weight:100;}
      }
      .az{ float:left; color:rgb(255, 120, 45);}
      .alt{ float:right; color:rgb(65,180,255);}
    }
    .details{
      display: none;
    }
    p{
      margin:0;
    }
  }
}

/*==============COMMON==============*/
.grid-5{
  width:20%; float:left; display:inline-block; padding:0 $gridSeparator $gridSeparator 0; 
  @media only screen and (max-width: $gridMinWidth * 5) {
    width:25%;
  }
  @media only screen and (max-width: $gridMinWidth * 4) {
    width:33.33%;
  }
  @media only screen and (max-width: $gridMinWidth * 3) {
    width:50%;
  }
  @media only screen and (max-width: $gridMinWidth * 2) {
    width:100%;
  }
}




