@import "compass_twitter_bootstrap_awesome";

* { @include ctb-box-sizing(border-box); line-height:1.2;}

body{
  text-align:center; background:#eee; font-family: 'Muli', sans-serif; color:#333; font-weight:100; font-size:16px;
}

h1, h2, h3, h4, h5, h6{ line-height:1.2; letter-spacing: -2px; font-weight:300;}

/*===============FONTS===================*/
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  src: local('Muli Light'), local('Muli-Light'), url(fonts/TgrecWq39GVsTOFonFwGXQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli'), url(fonts/minRpKQdEvXRRS8oAbAtWvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

/*==============VARIABLES===============*/
$gridMinWidth : 300px;
$gridSeparator : 20px;
$mainColor: rgb(65,180,255);
$gray:#ccc;
$loaderSize:30px;
$iconSize:20px;
/*==============HEADER============*/
#header{
  border-top:3px solid $mainColor; padding:12px 3% 15px;
  #logo, #search{ color:$mainColor; text-decoration: none;font-size:1.5em;}
  #logo{
    float:left; 
    @media only screen and (max-width: 2 * $gridMinWidth) {
      float:none;
    } 
  }
  #search{
    float:right; position:relative; 
    input{
      @include ctb-box-sizing(border-box); width:70px; height:auto; float:right; font-weight:100; padding-right: $iconSize; @include ctb-transition(.5s width); 
      &:focus{
        width:206px;
      };
    }
    &:after{
      font-family: FontAwesome; color:$gray; font-weight: 100; font-style: normal;
      content: "\f002";
      position:absolute; top:5px; right:4px;
      width:$iconSize; height:$iconSize; font-size: $iconSize; line-height: $iconSize;
    }
    @media only screen and (max-width: 2 * $gridMinWidth) {
      margin:12px 0 0; float:none; display:block; clear:both;
      input{
        float:none; width:100%;
        &:focus{
          width:100%;
        }
      }
    }
  }
}
/*==============FOOTER============*/
#footer{
  min-height:50px;
}
/*==============MAIN==============*/
#main{ padding:0 3%; text-align:left;
  .search-container{ position:relative; margin:0; 
    #search{
      @include ctb-box-sizing(border-box); padding:8px 35px 8px 10px; width:100%; height:36px; margin:0; 
    }
    &:before {
        position:absolute; top:3px; right:7px; display: inline-block; width:30px; height:30px; font-size: 23px; font-weight:100; color:$gray;
        font-family: "FontAwesome"; content: "\f002";
    }
  }
  .card{
    padding:15px; background:#fff; overflow:hidden; @include ctb-border-radius(3px); @include ctb-box-shadow(0 0 3px $gray); position:relative;
    .isvisible{
      position:absolute; right:5px; top:3px; width:30px; height:30px; text-align:center; line-height:30px; font-size:25px; color:$gray;
    }   
    .title{
      color:$mainColor; font-size:1.5em; margin:0; padding:0; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
    }
    .names{
      margin:0 0 20px 0;
    }
    p{
      color:#666; margin:0; padding:0; 
    }
    strong{
      color:#333; font-weight: 300;
    }
    .separator{ margin:10px 0;}
    .coordinates{
      margin:12px 0 2px;
      .alt, .az{
        width:50%; text-align:center; display:inline-block; color:#fff; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
        strong{ display:inline-block; width:50px; font-weight:100;}
      }
      .az{ float:left; color:rgb(255, 120, 45);}
      .alt{ float:right; color:$mainColor;}
    }
  }
}

/*==============COMMON==============*/
.noResults{
  text-align:center;margin:30px auto;font-style:italic;
}
.grid-5{
  width:20%; float:left; display:inline-block; padding:0 $gridSeparator $gridSeparator 0; 
  &:nth-child(5n){padding-right:0;}
  @media only screen and (max-width: $gridMinWidth * 5) {
    width:25%;
    &:nth-child(5n){padding-right:$gridSeparator;}
    &:nth-child(4n){padding-right:0;}
  }
  @media only screen and (max-width: $gridMinWidth * 4) {
    width:33.33%;
    &:nth-child(4n){padding-right:$gridSeparator;}
    &:nth-child(3n){padding-right:0;}
  }
  @media only screen and (max-width: $gridMinWidth * 3) {
    width:50%;
    &:nth-child(3n){padding-right:$gridSeparator;}
    &:nth-child(2n){padding-right:0;}
  }
  @media only screen and (max-width: $gridMinWidth * 2) {
    padding-right:0; float:none; width:100%;
    &:nth-child(n){padding-right:0;}
  }
}

.loadmore{
  text-align: center;
  a{ display:inline-block; position:relative; top:0; left:0; margin:0 auto; @include ctb-border-radius(3px); @include ctb-box-shadow(0 0 5px $gray); padding:10px 15px; background:$mainColor; cursor:pointer; text-align:center; color:#fff; text-decoration: none;}
  .loader{ display:none; @include opacity(.18); width:$loaderSize; height:$loaderSize; background:url("../images/loader.gif") center center no-repeat; background-size:$loaderSize $loaderSize;}
  &.isloading{
    .loader{display:inline-block;  }
    a{ display:none;}
  }
}

.clear{
  clear:both; display:block;
}

.animate-leave{
  @include transition-delay(0 !important);
}

.animate-enter
{ 
  @include ctb-transition(0.3s cubic-bezier(0.250, 0.250, 0.750, 0.750) all);
  position: relative;
  // enable hardware accelerated animations
  @include ctb-translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
} 

.animate-enter { 
  opacity: 0; top:40px; 
}

.animate-enter.animate-enter-active {
  opacity: 1; top:0; 
}